<style>
    * {
        box-sizing: border-box;
    }

    .img-container {
        width: 33.33%;
        padding: 5px;
    }

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }

    .img-container.img {
        border-radius: 8px;
    }
</style>

<div class="container">
    <div class="panel-group">
        <div class="panel panel-info">
            <div class="panel-heading">About</div>
            <div class="panel-body">
                Who we are?<br>
                Our name is Tzvika Schwartz and Chaim Rottenberg.<br>
                We are studying Computer Science 4 grade in "Lev Academic Center" (JCT).<br>
                This web site We were required to do as an exercise 4 in the course "Software Engineering for the Internet". <br>
                In the web site you can show the catalog of flowers, list of branches and list of users, <br>
                When just "workers" can see the last one.<br>
                While worker can see just the customers, the manager can see all the users.<br>
                And while worker can just add user, manager can add and remove also a worker (fire).<br>
                Enjoying browsing !!!
            </div>
           

        </div>

    </div>

</div>