<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <table id="myTable" class=" table order-list">
    <thead>
        <tr>
            <td>id</td>
            <td>name</td>
            <td>category</td>
            <td>userName</td>
            <td>password</td>
            <td>valid</td>



        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="col-sm-4">
                <input type="text" name="name" class="form-control" />
            </td>
            <td class="col-sm-4">
                <input type="mail" name="mail"  class="form-control"/>
            </td>
            <td class="col-sm-3">
                <input type="text" name="phone"  class="form-control"/>
            </td>
             <td class="col-sm-3">
                <input type="text" name="phone"  class="form-control"/>
            </td>
             <td class="col-sm-3">
                <input type="text" name="phone"  class="form-control"/>
            </td>
             <td class="col-sm-3">
                <input type="text" name="phone"  class="form-control"/>
            </td>
            <td class="col-sm-2"><a class="deleteRow"></a>

            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5" style="text-align: left;">
                <input type="button" class="btn btn-lg btn-block " id="addrow" value="Add Row" />
            </td>
        </tr>
        <tr>
        </tr>
    </tfoot>
</table>
</div>
<script>
        var counter = 0;
$(document).ready(function () {
    $("#addrow").on("click", function () {
        var newRow = $("<tr>");
        var cols = "";

        cols += '<td><input type="text" class="form-control" name="id' + counter + '"/></td>';
        cols += '<td><input type="text" class="form-control" name="name' + counter + '"/></td>';
        cols += '<td><input type="text" class="form-control" name="category' + counter + '"/></td>';
        cols += '<td><input type="text" class="form-control" name="branchId' + counter + '"/></td>';
        cols += '<td><input type="text" class="form-control" name="userName' + counter + '"/></td>';
        cols += '<td><input type="text" class="form-control" name="password' + counter + '"/></td>';
        cols += '<td><input type="text" class="form-control" name="valid' + counter + '"/></td>';
        cols += '<td><input type="button" class="ff btn btn-md btn-danger "  value="Updade"></td>';

        cols += '<td><input type="button" class="ibtnDel btn btn-md btn-danger "  value="Delete"></td>';
        newRow.append(cols);
        $("table.order-list").append(newRow);
        counter++;
    });



    $("table.order-list").on("click", ".ibtnDel", function (event) {
        $(this).closest("tr").remove();       
        counter -= 1
    });


});



function calculateRow(row) {
    var price = +row.find('input[name^="price"]').val();

}

function calculateGrandTotal() {
    var grandTotal = 0;
    $("table.order-list").find('input[name^="price"]').each(function () {
        grandTotal += +$(this).val();
    });
    $("#grandtotal").text(grandTotal.toFixed(2));
}

function putDataIntoField(users)
{
    users.array.forEach(user)
}
function user(user){
    var newRow = $("<tr>");
        var cols = "";
        id:302951108,
        name:'Yosef',
        category:Category.MANAGER,
        branchId:123,
        userName:'abc',
        password:'Aa123456',
        valid:true
        cols += '<td><input type="text" class="form-control" name="id' + counter + '"/></td>';
        id = id;
        cols += '<td><input type="text" class="form-control" name="name' + counter + '"/></td>';
        name = name;
        cols += '<td><input type="text" class="form-control" name="category' + counter + '"/></td>';
        category = category;
        cols += '<td><input type="text" class="form-control" name="branchId' + counter + '"/></td>';
        branchId = branchId
        cols += '<td><input type="text" class="form-control" name="userName' + counter + '"/></td>';
        userName = userName;
        cols += '<td><input type="text" class="form-control" name="password' + counter + '"/></td>';
        password = password;
        cols += '<td><input type="text" class="form-control" name="valid' + counter + '"/></td>';
        valid = valid;
        cols += '<td><input type="button" class="ff btn btn-md btn-danger "  value="Updade"></td>';
        cols += '<td><input type="button" class="ibtnDel btn btn-md btn-danger "  value="Delete"></td>';
        newRow.append(cols);
        $("table.order-list").append(newRow);
        counter++;
}
</script>